<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<H1>Welcome to our mini Twitter app </h1>
<h3>Following: <%=link_to(@following.count,following_user_path)%></h3>
<h3>Followers: <%=link_to(@followers.count,followers_user_path)%></h3>


<% unless current_user == @user %>
<div id="follow_form">
<% if current_user.following?(@user) %>
<%= render 'unfollow' %>
<% else %>
<%= render 'follow' %>
<% end %>
</div>
<% end %>



<h3>User posts: </h3>

<table>
<% @user_posts.each do |post| %>
 <tr> <td><%= post.content %></td>
      <td>&nbsp;<%=link_to("Delete",posts_destroy_path(:id=>post.id),:method=>:delete) %> </td> 
 </tr>

<% end %>
</table>
